@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: black;
    background-size: 100% 250%;
    animation: gradient 15s ease infinite;
}

a {
    padding: 3%;


}

a.underline {
    text-decoration-color: #e73c7e;
    text-decoration: underline;
}

* {
    color: #00FF00;
}